 <div class="container">
        <div class="row">
			<center><h1>Our Clients. Our Inspiration.</h1/></center>

				<center><p>
					<iframe width="640" height="360" src="//www.youtube.com/embed/iItcTQPjRS4?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
				</center></p><br />
				<h3>We are grateful to the discerning custom homebuyers who have made Silverton Custom Homes their builder of choice—many on a repeat basis and some as many as four times.
				</h3><br />
			<p>
				“I found the Silverton Custom Homes team to be the perfect partner in creating your dream home in Flintrock Falls!  They have become a trusted friend, with rich experience and insights in all phases of home construction- from architectural design, site layout, and custom quality construction and interior design. They listened to what I wanted and helped me optimize the features of my home on my home site. If you are planning to establish your new home in a beautiful golf course community with gated entry ways and access to the best schools and shopping at the new Hill Country Galleria – you owe it to yourself to visit with the Silverton team!”
			</p>

			<em>- COL (Ret) Mike Brown, Flintrock Falls, Austin Texas</em><br />

			<p>
			“When we decided to move to Austin two years ago, we chose a Silverton home in Flintrock Falls. We fell in love with the beautiful golf course and Hill Country setting. It has all kinds of wildlife – deer, jack rabbits, roadrunners, etc.  Even though it’s in a secluded setting, it’s only five minutes away from the Galleria shopping center and restaurants.  And, importantly, Flintrock Falls is part of the Lake Travis school district, which is one of the highest rated in Texas.  We have found it to be an outstanding system with a devoted teaching staff.
			Within Flintrock, we chose a Silverton home because we were very impressed with their craftsmanship and attention to detail. But most significantly, we felt like we were working with friends. As a good example, during our first week in the new house, I mentioned to Joyce at Silverton that our pre-teen daughter was feeling a bit blue about the move. She replied, ‘No problem. I have a granddaughter about the same age. I’ll bring her right over so the girls can meet and I’ll take them out for ice cream.’  Needless to say, my daughter came back with a big smile.
			So, not only did we get a beautiful home, we also made wonderful friends!”
			</p>

			<em>-Russell and Sharon Parry</em><br />

			<p>
			“La Ventana is a warm, friendly neighborhood. There are frequent neighborhood ‘socials,’ and there is always an open line of communication among the residents who are willing to help each other in any way.
			Silverton has earned their fantastic reputation.  Their homes are of highest quality construction and set the precedent for other Central Texas homebuilders.”
			</p>

			<em>-Jack and Cathy</em><br />
			<p>
			“Although wary about the prospect of building, we called Silverton because of three strong recommendations. The entire team helped make our home building journey a very positive experience and you can imagine our delight when our home was finished ahead of schedule! Your building process was simple, thorough and client focused. The best part is that you continuously exceeded our expectations – both during and after construction.
			</p>
			<p>
			You and your personnel continue to give us additional reasons to congratulate ourselves for our good judgment in choosing Silverton to build our home. Thanks again.”
			</p>
			<em>-Ann and Dave Hargett</em><br />
			<p>
			“Our experience with Silverton Homes was nothing short of outstanding!  From the time we first reviewed plans and selections till the day we moved in, Silverton always delivered outstanding service and met all of our requests promptly and without adding undue additional cost. Silverton Custom Home provides one-stop shopping including full decorating services.  And over the past three years, they have always been there to follow up on warranty items as well as any additional needs for little or no charge.  We go out of our way to recommend Silverton Custom Homes to anyone that is considering building anywhere in the greater Austin area.”
			</p>

			<em>-Rick P.</em><br />
			<p>
			“I cannot say enough about how much Dan and I appreciate Jason, Chris and staff! Their integrity is so commendable! They always made us feel comfortable to question anything that was being done. The company is detail orientated and wants to make the customer happy at any cost. My brother in law asked me one day if I was ready to do my contractor in and I said “Are you kidding me! I LOVE MY CONTRACTOR!” The whole company works together to make sure you are happy! Thank you so much Silverton Custom Homes and staff! I would recommend you to anyone!!!!
			</p>
			<em>-Kathy Christian</em><br />
			<p>
			“Working with Silverton Custom Homes has been an absolute pleasure.  Their focus on customer service both during the negotiation phase and warranty phase has been outstanding.  This is a company that truly understands the importance of customer service and has made it a competitive advantage for them.  I would gladly purchase another house from them and recommend them to anyone looking for a quality house in the Lake Travis area.”
			</p>
			<em>-Mike Krampf</em><br />
			<p>
			“Susan and I would like to thank you for building us a wonderful home.  We love it!  The quality and workmanship is excellent. I think we all know it was not the easiest proposition to build a custom home when we were living a long ways away, but it turned out great!  You guys made excellent recommendations from initial plans, through construction and interior design and handled any changes we made look easy. It took a lot of communication and effort on all of your part to get it right. The lot and view also turned out better than expected. We really enjoy sitting on the back porch and using the new grill and fireplace. The only downside is that we have folks coming by often and taking pictures of the house.”
			</p>
			<em>-Susan and Mitch Morris</em><br />

			<p>
			We want to experss our appreciation for the experience we have had with Silverton Homes while building our home in Lago Vista. We found you and your staff to be of the highest integrity. You kept your word on all that you indicaated that you would do.  
			 Whenever we questioned something or made a request, your team followed through and completed the request to our satisfaction. We thought it was going to be difficult to oversee this project not living in this area but the personel at Silverton Homes were so accessible and knowledgeable that handling the majority of this project by phone worked very well for us
			Our field builder, Dave, was a pleasure to work with. His communication with us and his management of the project contributed greatly to how pleased we are with our home. 
			We cannot compliment the ladies at Home Front Design enough. They were so patient with our indecisiveness and unfamiliarity with much of the design process. They are a great asset to Silverton Homes. 
			</p>
			<p>
			We are thankful to have worked with such an outstanding builder. We would highly recommend Silverton Homes to anyone wanting to build.
			</p> 
			<em>-Glenn and Doris Michalak</em> <br />
			<p>
			Quality, affordable, elefance, these are the three words that describe our experience with Silverton Custom Homes building our home. We couldn't be more pleased and grateful for the personalized service provided us. Our past experience with building / buying homes led us to believe custom home building would be stressful, with delays, unexpected expenses, and compromising quality. This was not so with Silverton. Silverton has been the exact opposite. From the planning stage through design, construction, and move-in, Mike Grimm and the Silverton Custom Homes family exceeded our expectations. 
			We want to thank each and every member of the Silverton team for their contributions in making our dream home a reality. We highly recommend Silverton Custom Homes to anyone wanting a superior, honest, custom home building experience. 
			</p>
			<em>-Jeff and Leslie Woodard</em> <br />
			<p>
			We selected Silverton to build our home based on their personal approach, their long history of building quality homes, and strong references.  Silverton definitely lived up to our high expectations. We could not be happier about our new home. 
			We knew it would not be easy to build a custom home from hundreds of miles away, but the team at Silverton made it work.  The quality, workmanship and care that went into every phase were evident during construction and even more evident now that it is complete.  Dave Jackson managed the construction as if it were his own home.  We always had the utmost confidence in the decisions we made with him, and those that he made on our behalf.
			The service after construction has also been top notch.  We had very few items on our punch list after we moved in, but the warranty team handled these with the same care, and quality that we have experienced throughout the process.
			</p>
			<p>
			We would recommend Silverton to anyone building a home in the area.
			</p>
			<em>-Eric and Julie Clark</em> <br />
			<br />
			<br />
</div>
</div>