
 <div class="container">
        <div class="row"><center><h1>The best of Austin land for sale</h1></center>
			<p>
			Finding your ideal place
			Whether this will be your second home or permanent residence, Silverton Custom Homes will guide you in finding the right location to realize the home of your dreams. We are proud to have some of the most desirable lakeside and Hill Country properties in our inventory and knowledge of other highly attractive Austin land for sale. We will help you in viewing all viable possibilities and in selecting the one that best suits your individual needs.
			</p>
			<p>
			At the heart of our site selection process is helping you secure a site that will match your lifestyle, maximize your resources and allow you to live life to the fullest. This includes property size, orientation and topography, and proximity to everything you enjoy doing. Whether you want to <%= link_to "live on the lake", "/build" %>, crave a Hill Country view or are looking to spend your days along the fairway, we will help you explore the best of Austin land for sale.
			</p>
		</div>
</div>