<div class="container">
        <div class="row">

			<h1>2014 Parade of Homes</h1>
			<h3>Where Dreams Become Reality</h3>
			<p>
				The Parade of Homes™ is an annual event presented by the Home Builders Association (HBA) of Greater Austin showcasing the newest trends in construction, building design, interior decor and landscaping in one of the country’s most vibrant real estate communities.
			</p>
			<center>
				<p>
					<%= image_tag("parade_dates.png") %><br /><br />
				</p>
			</center>
		</div>
	</div>