<div class="container">
        <div class="row">
        	<div id="paradehomes" class="col-md-8">

				<%= image_tag("Worner.JPG") %>
				<br />
				<br />
				<center><h4>Silverton has Partnered with Nuvolio to offer this plan for sale.<br /><br /></h4>
				<%= link_to "View Floor Plan", "https://www.nuvolio.com/plans/753", class: "btn btn-primary" %></center>
				<br />
				<br />
			</div>
			<div id="paradehome_text" class="col-md-4">

				<p>Sloped roofs, clean lines, and the monochromatic tones lend this parade home to the modern lifestyle of Austin but in a calm, hill country setting. The main feature that sets this plan apart from others is is the private courtyard which includes a contemporary pool design for a cordial entry and a sense of tranquility to match the serene countryside surroundings.</p>
				<p>
				The spatial layout which divides the private spaces from the public ones,  frame the pool to give opulent  vantage points. The successful combination of large picture frame windows and the open floor plan allow the views from the pool to translate through the great room, kitchen, and dining areas towards the rear of the home to showcase the grandiose views from atop the hill that overlook the endless rolling hills.</p>
				<p>

				Using raw metal details with wood accents throughout such as in the beams, awnings, brackets, and ceiling treatments give this style the final touches that define it  as the new trend in modern living.</p>
			</div>
		</div>
	</div>