 <div class="container">
        <div class="row">
			<center><h1>Taking the mystery out of the home building process.</h1></center>
			<p>
			At Silverton Custom Homes, project expectations are clearly defined from the start. Our comprehensive home building process and documented flow of information is the key to an efficient, seamless and rewarding building experience.
			</p>
			<p>

			We feel that clarifying things early eliminates surprise and confusion later, when you start dealing with more specific details. A distinguishing feature of our home building process is the Homeowner Manual. This critical tool will guide you through the entire <%= link_to "process of designing", "/design" %> your home (or reviewing your existing plans with a critical builder’s eye); reviewing your property; and creating detailed specifications (the written details that compliment your plans).
			</p>
			<p>
			Our home building process begins by working with you to develop Preliminary Custom Plans and Specifications in the Planning Phase. Once those are finalized and the Contract is signed, we advance to Pre-Construction, Construction and finally, the Closing and Warranty phases.
			</p>
			<p>
			Following is a detailed outline of our comprehensive home building process:
			</p>
			<p>
			<%= link_to "View the Silverton Home Building Process Document" "http://www.silvertoncustomhomes.com/documents/Building_Process.pdf" %>
			</p>
			<center><p>
			<%= image_tag("http://www.silvertoncustomhomes.com/wp-content/uploads/2012/01/certified-green-professional-logo.gif") %>
			</p></center>
			<p>
			At Silverton Custom Homes, we go to great lengths to ensure our clients enjoy all the benefits of an energy-efficient home. We have always been an energy efficient builder and remain dedicated to achieving today’s green building performance measures. As a Certified Green Professional, we incorporate green building principles into all of our custom homes without driving up the cost of construction. Our Certified Green Professional designation requires continuing education in all of the newest green building products and technologies.
			</p>
			<p>
			Our commitment to building energy-efficient homes is also exemplified by our co-founding of Green Energy Specialists of Texas, a separate company that provided energy efficiency audits, inspections, testing and ratings.
			</p>
			<br />
			<br/>
		</div>
</div>
