<div class="container">
        <div class="row">
        	<br /><br />
        	<div id="paradehomes" class="col-md-8">

				<%= image_tag("Star Home Rendering dusk 1st rev.JPG") %>
				<br />
				<br />
				<div id="map" class="col-md-6">
					<%= image_tag("texasstarmap.png") %>
				</div>
				<div id="nuvolio-text" class="col-md-6">
					<center><h4><br /><br />Silverton has Partnered with Nuvolio to offer this plan for sale.<br /></h4>
					<%= link_to "View Floor Plan", "http://www.nuvolio.com", class: "btn btn-primary" %></center>
				</div>
				<br />
				<br />
			</div>
			<div id="paradehome_text" class="col-md-4">

				<p>What do you get when you combine an award winning Custom Home Builder, award winning design 				
				teams, Venture Four Architects, and two Texas icons? You get the first ever Texas Monthly Star Home, 				
				and it is a masterpiece. Every corner turned elicits a new WOW! When Mike Grimm with Silverton 				
				Custom Homes teamed up with Heather Scott Home and Design and Home Front Design for the second 				
				time, plus added Texas Monthly magazine and Willie Nelson's Tierra Vista, they created magic. 				
				From the moment you step into this home you will get swept away by the stunning vistas, endless 				
				hilltops and the winding Pedernales River disappearing off into the distance, enjoyed in all its splendor 				
				from the commanding living area that defines "great room" with a massive clear story ceiling and 				
				exposed trusses. The simply gorgeous kitchen serves as the central hub and flows right into the large 				
				dining area with a sloped wood ceiling, creating just enough distinction. 				
				The home has a unique surprise that will allow it to stay beautiful even during large gourmet dinner 				
				parties. This multifunctional "prep-kitchen" features a full working kitchen on one side, a large "craft 				
				island" in the middle and a section dedicated to cleaning on the other side. This room alone will make 				
				you the envy of the neighborhood and it's certainly the ideal design for hosting any gathering. 				
				If the "Great Room" does not live large enough already, it seamlessly transitions right into the patio that 				
				adds almost 1500 additional square feet of living area and includes a faux infinity edge pool, spa, grill 				
				and fire pit. 				
				This home has it all within a modest 4500 square feet of heated and cooled area, equipped with 5 				
				bedrooms and 5 bathrooms including the casita with private patio, a media room and a library. This is a 				
				unique opportunity to purchase a one of a kind home, featuring cutting edge design, technology, 				
				innovation, decor, materials and craftsmanship. 				
				With its neutral palette of creams and browns accompanied by blue and rust accents to add color and 				
				texture, this Silverton Custom home certainly embodies the terms classic, chic & serene and exemplifies 				
				the unique charm of the Texas hill country. 	</p>
				<br />
				<br />	
			</div>
		</div>
	</div>

