<h1>You’re ready to go, so please check your email.</h1>
<p>
	We auto-magically sent you a link with access to our online plan portfolio.

	So, go check your email now.

	If you experience any issues, then please call us at (512) 267-3777.
</p>