 <div class="container">
        <div class="row">
			<center><h1>Exceeding Home Building Quality Assurance Standards</h1></center>

			<h3>We settle for nothing less.</h3>
			<p>
				Silverton Custom Homes takes home building quality assurance to an unprecedented level. Ingrained post-design and pre-construction controls help us exceed client expectations at every turn. Each custom home is modeled and built stick-by-stick using computer aided design software to ensure that the home can be built as the architect and homeowners have intended.
			</p>
			<p>
				Architectural designs and engineering plans are thoroughly scrutinized by third parties to address every detail and eventuality long before we ever break ground. This painstaking process tells us precisely how to build, leaving little room for error, eliminating unnecessary delays and waste, and saving you time and money.
			<p/>
			<center><h3>
				It may not be an industry standard but at Silverton Custom Homes, we settle for nothing less.
			</h3></center>
		</div>
</div>