 <div class="container">
        <div class="row">
        	<center><h1><%= image_tag "title_sub.png" %></h1></center>
        	<div id="p_text" class="col-md-8">

				<p>
					Willie Nelson's Tierra Vista is home to the 2014 Parade of Homes presented by the Home Builder's Association of Greater Austin. Tierra Vista offers exquisite acreage lots from a commanding hilltop position surrounded by stunning vistas, wooded hills & the winding Pedernales River glistening off into the distance. The casual elegance of this small, gated community exemplifies the unique charm of Texas' Hill Country. The parade is right around the corner, come see what all the buzz is about. Note: this community is located with the renowned Lake Travis Independent School District and it's a quick 11 mile stroll to Hill Country Galleria. <br /><br />
				</p>
		</div>
		<div id="plat" class="col-md-4">
			<a href="http://www.tierravistatexas.com/map.php">
			<%= image_tag "Tierra Vista Plat w-Topo.jpg" %>
		</a>
		</div>
		<div class="col-md-12">
			<a href="http://www.tierravistatexas.com/">
			<center><%= image_tag("tierra vista polaroid.png") %></center>
		</a>
		</div>
	</div>
</div>

