// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background: #fff;
}
#frontimage {
	margin-left: -15px !important;
	margin-right: -15px !important;

	padding: 0 !important;
	box-shadow: 0 3px 0 #888;
}

#frontimage img {
	width: 100%;

}
#footer_area {
	background: #000;
	color: #efefef;
	font-size: 120%;
}

#footer_text {
	line-height: 30px;

}

#assoc img{
	margin-left: 10px;
	margin-right: 10px;
}

#featured img {
	margin:15px;
	box-shadow: 5px 5px 5px 0px #888;
	border-radius: 5px;
}

.carousel {
	height:50%;
	margin-top: -25px;
}

.item,
.active,
.carousel-inner {
	height:100%;
}

.fill {

	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}

red {
  color: #8A0A0A;
  font-size: 110% !important;
}


/* Services */

.services {
margin-bottom: 35px;

}
.services a {


}
.services p {
 font-size: 135%;
 line-height: 24px;
}

.services a:hover {

  color: #888 !important;
  text-decoration: none !important;
}

.services h2 {
	color: #888;
	margin-right:-20px;
}


i.service-icon {
  border: 3px solid #8A0A0A;
  color: #8A0A0A;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

#others {
	display: block;
	margin-top: 36px;
}

#southern_living {
	display: block;
	margin-bottom: 48px;

}
#featured {
}

