// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background: #fff;
}
#frontimage {
	margin-left: -15px !important;
	margin-right: -15px !important;

	padding: 0 !important;
	box-shadow: 0 3px 0 #888;
}

#frontimage img {
	width: 100%;

}
#footer_area {
	background: #000;
	color: #efefef;
	font-size: 120%;
}

#footer_text {
	line-height: 30px;

}

#assoc img{
	margin-left: 10px;
	margin-right: 10px;
}

#featured img {
	margin:15px;
	
	border-radius: 5px;
	margin-top: 30px;
}
#featured_no_tierra img {
	box-shadow: 5px 5px 5px 0px #888;
	
}
#featured_no_tierra {
border-left: solid 3px #888 !important;
}

.carousel {
	height:50%;
	margin-top: -25px;
}

.item,
.active,
.carousel-inner {
	height:100%;
}

.fill {

	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}

red {
  color: #8A0A0A;
  font-size: 110% !important;
}


/* Services */

.services {

background: url("old_moon.png") fixed repeat;
display:inline-block;
margin-top:30px;
border-top:solid 3px #888;
padding-bottom: 25px;
margin-bottom:-3px;

}
.services a {


}
.services p {
 font-size: 135%;
 line-height: 24px;
}

.services a:hover {

  color: #888 !important;
  text-decoration: none !important;
}

.services h2 {
	color: #888;
	margin-right:-20px;
}

i.service-icon {
  border: 3px solid #8A0A0A;
  color: #8A0A0A;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
  margin-top:30px;
}

#others {
	display: block;
	margin-top: 36px;
}

#southern_living {
	display: block;
	margin-bottom: 48px;
	padding:30px;

}
#featured_sec {
background: url("old_moon.png")repeat center center fixed;
display:inline-block;
margin-bottom:30px;
margin-top:30px;
border-top:solid 3px #888;
padding-top:15px;
padding-bottom:15px;
padding-right:30px;
border-bottom:solid 3px #888;
}

#kudos {
	margin-bottom: 30px;
	display:inilne-block;
}

#kudos img {
	width: 450px;
	border-radius: 50%;
	box-shadow: 8px 8px 8px 0px #888;
}
#kudos p {
	margin-top: 20px;
	text-align:vertical;
	margin-bottom:20px;
	font-size: 135%;
	line-height: 30px;
}

#port-text {
	background: url("overlay.png");
	color: #fff;
	padding: 15px;
	margin-left:60px;
	margin-top:15px;
}
#port-text p {
font-size: 110%;
line-height: 24px;
}
#phone {
	font-size: 135% !important;
	font-weight: bold;
}

#tierra {
	border-right: solid 3px #888 !important;
	margin-right: 25px;
}

