// Place all the styles related to the portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#portfolio_page {
	background: url("light_grey.png")repeat center center fixed;
	margin-top: -12px;

}

#portfolio_images img {
	border-radius: 6px;
	box-shadow: 5px 5px 5px #888;


}
#portfolio_show {

	border-radius: 6px;
}
#portfolio_show img {
box-shadow: 5px 5px 5px #888;
border-radius: 6px;
}

#portfolio_thumb {
	margin-left: 15px;

	display:inline-block;
	background: #e0e0e0;
	margin-bottom:30px;
	border-radius: 6px;
}

#portfolio_thumb img {

	display:inline-block;
	margin: 10px;
	margin-left:-1px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #888;
	border-radius: 6px !important;

}

#secondgroup {
    display:none;
}
#thirdgroup {
    display:none;
}
#fourthgroup {
    display:none;
}
#secondgroup_icon {
    display:none;
}
#thirdgroup_icon {
    display:none;
}
#down2_icon {
    display:none;
}
#down3_icon {
    display:none;
}


.uptest {
	display: inline-block;
}
#portfolio_text {
	font-size:120%;
	margin-bottom:30px;
	margin-top:15px;
}

#portfolio_text p {
	font-size: 115%;
}
#slide_icons_up {
padding-top: 10px;
font-size:135%;
	
} 
#slide_icons_down {
padding-bottom: 10px;
font-size:135%;
	
} 

